<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>World News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body ng-app="app">
  <div ng-controller="myCtrl">
    <nav id="title" class="header container">
      <section class="row">
        <div class="col-md-4 col-xs-4 text-center mdTxt">news     about      share</div>
        <div class="col-md-4 col-xs-4 text-center lgTxt">EVENTILE</div>
        <div class="col-md-4 col-xs-4 text-center mdTxt">contact      github      donate</div>
      </section>
    </nav>

    <div id="slide1" class="slide map-width">
      <section class="row" ng-repeat="row in worldArray track by $index">
      <article class="pic" ng-repeat="columns in row track by $index" ng-class="{ 'fill': isLand(columns.type), 'pic-full' : columns.tog}" ng-click="toggleBtn(columns)">
      <div ng-show="columns.tog" class="text-center">
<h1>{{article.title}}</h1>
<h5>{{article.publishedDate}}</h5>
<h4 class="text-left">{{article.content}}</h4>
<br>
<br>
<br>
      <div class="pull-down">click to close</div>
      </div>
        </article>
      </section>
      <div class="text-center top-buffer">
        <div class="container pull-bottom">
          <br>
          <br>
          <br>
          <br>
          <br>
          <p>scroll</p>
          <img src="/resources/scroll-arrow.png" alt="Scroll Down" height="23" width="60" class="invert rss opacity">
        </div>
      </div>
    </div>
    <div id="slide2" class="slide">
      <div class="well text-center">
        <p>This web app was brought to you by Tanner and Patrick</p>
      </div>
      <div class="well text-center">
        <p>We hope to add more features like better animations, more responsiveness, stripe/paypal integration</p>
      </div>
      <div class="well text-center">
        <p>Thanks for watching</p>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="feeds.js"></script>
</html>