body {
  background-color: #EEE;
}

.big-box {
  margin: 10px;
}

.big-border {
    border-style: solid;
    border-width: 20px;
    background-color: #CCC;
}

.row {
  display: flex;
  margin: 1px;
  padding: 0px;
 }

.pic {
  height: 20px;
  width: 2%;
  margin-left: 1px;
}

.fill {
  background-color: #712E99;
}

.pic:hover {
    background-color: #1B4699;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

img {
  max-width: 100%;
}

nav {
  font-family: 'Reenie Beanie', cursive;
}

.lgTxt {
  font-size: 50px;
}

.mdTxt {
  font-size: 30px;
}